header {
    align-content: center;
}

h1 {
    color:palegoldenrod;
}

h2 {
    color:palegoldenrod;
}

h3 {
    color:palegoldenrod;
}

img {
    shadow:30px;
}

section {
    background-color:aliceblue;
}

p {
    font: size 30px;
    background-color:black;
}

ul {
    border: 30px;
}